*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

nav {
    text-align: end;
    margin-right: 200px;
    te
}

a{
    color: white ;
    text-decoration : none;
    text-transform : uppercase;
}


.container {
    
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    background-image: 
        url(./pics/bg.webp);
    background-size: cover;
    padding: 0.1px;
        
}

.head{
    margin-top: 30vh;
}

h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

.bar {
    
    width: 300px;
    height: 12px;
    background-image: linear-gradient(to right, paleturquoise 15%, whitesmoke 10%);
    margin-inline: auto;
    box-shadow: 3px 3px rgba(32, 32, 32, 0.4);
}

.bar-text {
    color: white;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;

}

.bar-number {
    /* background-color: violet; */
    color: white;
    width: 300px;
    margin-inline: auto;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    

}

.noti {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.noti button {
    background-color: paleturquoise;
    padding: 8px 17px;
    border-style:  none;
}

.logo {
    margin-inline: auto;
    margin-top: 20px;
    color: white;
    align-items: center;
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    font-size: 25px;
}

.item1 {
    width: 34px;
    height: 34px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}
.item2 {
        width: 34px;
    height: 34px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}
.item3 {
        width: 34px;
    height: 34px;

    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}
.item4 {
        width: 34px;
    height: 34px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

footer {
    color: grey;
    position: fixed;
    bottom: 0;
    width: 100vw;
    /* display: flex;
    align-content: flex-end; */
    
}

.footer {
    margin-block: 10px;
    font-size: 10px;
    text-align: center;
}